body {
	background-image: url("Pxlart.gif");
	background-repeat: no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
}
.Logo{
	height: 150px;
	width: 550px;
	margin-left: -500px;
	margin-top:30px;
}
.Stuff{
	background-color: #2A0861;
	overflow: hidden;
}
.Home{
	margin-left: 300px;
	text-align: center;
	float:left;
	border-right: 2px solid #5F0BEA;
	border-left: 2px solid #5F0BEA;
	width: 200px;
	background: #140330;
}
.About{
	text-align: center;
	float:left;
	border-right: 2px solid #5F0BEA;
	width: 280px;
}
.About:hover{
	cursor:pointer;
	background: #140330;
}
.tech{
	text-align: center;
	float:left;
	width: 300px;
	border-right: 2px solid #5F0BEA;
}
.faq{
	text-align: center;
	float:left;
	border-right: 2px solid #5F0BEA;
	width: 200px;
}
.contact{
	text-align: center;
	float:left;
	width: 280px;
	border-right: 2px solid #5F0BEA;
}
a{
	font-size: 45px;
}
.banner{
	margin-top: -230px;
	margin-left: 100px;
}