body {
	background-repeat: no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	background-image: url(Pxlart.gif);
	background-attachment: fixed;
}
.Logo{
	height: 30vh;
	width: 50vw;
}
#eye{
	height: 16.4vh;
	width: 10.417vw;
	margin-left: 9vw;
	margin-top: 6.5vh;
	float:left;
}
#ban{
	height: 30vh;
	width: 25vw;
	margin-left:-12vw
}
.links{
	list-style-type: none;
	margin: auto auto;
	padding: 0;
	display:inline-block;
}
li{
	float: left;
}
.navbar{
	background-color:#2A0861;
	overflow: hidden;
	font-size: 1.563vw;
	margin-top: -6.481vh;
	height:5.8vh;
	margin: 0;
	padding: 0;
	display: block;
}
.icons{
	float:right;
	list-style-type:none;
	margin-top:0vw;
	display:block;
}
li a.unactive{
	display: block;
	padding: 1.2vh 3vw;
	background-color:#2A0861;
	text-decoration: none;
	font-family: "Courier New", Courier, monospace;
}
li a.active{
	display: block;
	padding: 1.2vh 3vw;
	text-decoration: none;
	background:#5F0BEA;
	font-family: "Courier New", Courier, monospace;
}
li a:hover:not(.active) {
  background-color: #111;
}
li img.pic{
	width:2.396vw;
	height:2.396vw;
	display: block;
	background-color:#2A0861;
	text-decoration: none;
	float:right;
}
li img.others{
	width:2.396vw;
	height:2.396vw;
	display: block;
	background-color:#2A0861;
	float:right;
	text-decoration: none;
}
li img.others:hover{
	background-color: #111;
}
li img.pic:hover{
	background-color: #111;
}
li img#fb{
	margin-left:-0.1vw;
	padding:.2vh
}
li img#insta{
	width:1.823vw;
	height:1.823vw;
	margin-top:0vh;
	margin-right:0w;
	padding: 1vh
}
img#twitter{
	margin-top:0vh;
	padding:.2vh
}
#wrapper{
	border: 2px solid black;
	background: #2A0861;
	margin: 0 auto;
	width: 75vw;
	padding-bottom:5vw;
	margin-top:10vh;
	overflow:hidden;
}
.mySlides{
	display: none
}
img{
	vertical-align: middle;
}
.slideshow-container {
	position: relative;
	margin: auto;
	margin-top:.2vh;
	margin-top:.2vh;
	margin-top:.2vh;
}
.prev, .next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	padding: 2vw;
	margin-top: -4vh;
	color: grey;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select:none;
}
.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
	background-color: rgba(0,0,0,0.8);
}
.text {
  color: #f2f2f2;
  font-size: 5vw;
  padding: 8px 12px;
  background: hsla(280, 100%, 25%, 0.5);
  position: absolute;
  bottom: 0px;
  text-shadow: -.3vh 0 black, 0 .3vh black, .3vh 0 black, 0 -.3vh black;
  width: 100%; 
  text-align: center;
}
.fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
}
@-webkit-keyframes fade {
	from {opacity: .4} 
	to {opacity: 1}
}
@keyframes fade {
	from {opacity: .4} 
}
h1{
	color:white;
	font-size:2.3vw;
}
p{
	color:white;
	padding-left:2vw;
	padding-right:2vw;
	text-indent: 3vw;
}
.slide{
	width: 75vw;
	height:93vh;
}